$inactive-tab-background-color: #eee;
$active-tab-background-color: #fff;
$tab-border-color: #bbb;

.tabs {
  &.tabs-left {
    display: flex;
    flex-direction: row;

    .tabs-navigation {
      margin: 0 -1px 0 0;

      li:first-child {
        border-top-left-radius: 3px;
      }
    }

    .tabs-content {
      border-bottom-right-radius: 3px;
      border-top-right-radius: 3px;
    }
  }

  .tabs-navigation {
    flex: 0 0 auto;
    max-height: 100%;
    overflow: auto;
    z-index: 1;

    &, & li {
      padding: 0;
      list-style: none;
    }

    li {
      background-color: $inactive-tab-background-color;
      border: 1px solid $tab-border-color;
      border-bottom-color: transparent;
      padding: 5px 20px;
      cursor: pointer;

      &:last-child {
        border-bottom-color: $tab-border-color;
      }

      &.active {
        background-color: $active-tab-background-color;
      }
    }
  }

  .tabs-content {
    flex: 1 1 auto;
    border: 1px solid $tab-border-color;
    max-height: 100%;
    overflow: auto;
    padding: 10px 0;

    .tabs-inner-content {
      overflow: auto;
      padding: 10px;
    }
  }

  .tabs-buttons {
    > div {
      padding: 5px 20px;
    }
  }
}


